* {
    background-color: steelblue;
    color: orange;
}

.etable {
    padding-top: 15%;
    border: 0px;
}
table {
    border: 2px solid rgba(133, 120, 120, 0.197);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 60%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* table tr td {

} */
img {
    /* border: 2px solid black; */
    padding-top: 10px;
    width: 35%;    
}

#err {
    color: red;
    /* font-weight: bold; */
    font-size: 10px;
}

/* h3 {
    color: red;
} */

.center {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body.center {
    padding-left: auto;
    padding-right: auto;
}

h3.center {
    text-align: left;
}

td.center {
    text-align: right;
 }

/* h1, h3, input {
    background-color: aqua;
} */

/* div>h5, div>h2 {
    background-color: brown;
}

div p {
    background-color: brown;
}

h2~h4 {
    background-color:beige;
}

h2+h2 {
    background-color: beige;
} */

h1, h2 {
    background-color: brown !important;
}

h1+h2 {
    background-color: blue;
}

h2 {
    background-color: beige;
}






