@media screen and (min-width:801px){
    body {
        width:100%;
        float:left;
        padding:10px;
    }
}

@media screen and (hover:320px){
    body {
        width:30%;
        float:left;
        padding:10px;
    }
}